/* Colors */
$black: #232525;
$white: #fff;
$gray: #5b5e5e;
$gray-light: #eee;
$blue: #82cdf8;
$blue-light: #c2e9ff;
$green: #82f8c1;
$green-light: #c2ffe6;
$orange: #f8bb82;
$orange-light: #fff4c2;

/* Shadows */
$cell-shadow: 0 0 0.4rem #d7d8d8, 0 0 0.2rem #d7d8d8 inset;

/* Defaults */
$font-family: 'Montserrat', sans-serif;
$font-size: 1.6rem;
$body-color: #232525;
$body-bg: #fff;

/* Grid */
$container-w: 136rem;
$header-h: 7.1rem;
$header-h-m: 6rem;
$footer-h: 3.2rem;
$burger-line-h: .3rem;
$burger-line-w: 2.4rem;

/* Spacing */
$padding: 2.4rem;
$padding-m: 1.6rem;

/* Transitions */
$default-transition: .2s ease;
